<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185521482344-58n2t6a05nca9mgatcorr4ua62154i6u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185521482344-58n2t6a05nca9mgatcorr4ua62154i6u</string>
	<key>API_KEY</key>
	<string>AIzaSyCUiGlkTHKwX2KU5Hmts1RI3M-LmBVSo8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>185521482344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.midastecnologia.otonelsu</string>
	<key>PROJECT_ID</key>
	<string>pedidos-d6a17</string>
	<key>STORAGE_BUCKET</key>
	<string>pedidos-d6a17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185521482344:ios:93f268c3fc1c036c9ca9dd</string>
	<key>DATABASE_URL</key>
	<string>https://pedidos-d6a17.firebaseio.com</string>
</dict>
</plist>